@{
    ViewBag.Title = "Home Page";
}
<style>


    .filter {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .profiles img {
        margin-right: -6px;
    }

    .col-md-4 {
        margin-top: 26px;
    }

    body {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: 'Overpass', sans-serif;
        letter-spacing: 0px;
        font-size: 17px;
        color: #8d8f90;
        font-weight: 400;
        line-height: 32px;
        background-color: #edefef;
    }

     h2, h3, h4, h5, h6 {
        color: #25292a;
        margin: 0px 0px 10px 0px;
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1;
    }

    h1 {
        font-size: 34px;
        
    }

    h2 {
        font-size: 28px;
        line-height: 38px;
    }

    h3 {
        font-size: 22px;
        line-height: 32px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        font-size: 12px;
    }

    p {
        margin: 0 0 20px;
        line-height: 1.7;
    }

        p:last-child {
            margin: 0px;
        }

    ul, ol {
    }

    a {
        text-decoration: none;
        color: #8d8f90;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

        a:focus, a:hover {
            text-decoration: none;
            color: #f85759;
        }



    .page-header {
        background-image: url('../../image/green-chameleon-s9cc2skysjm-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: auto;
       
    }

    .page-caption {
        padding-top: 170px;
        padding-bottom: 174px;
    }

    .page-title {
        font-size: 46px;
        line-height: 1;
        color: #fff;
        font-weight: 600;
        text-align: center;
    }

    .card-section {
        position: relative;
        bottom: 60px;
    }

    .card-block {
        padding: 80px;
    }

    .section-title {
        margin-bottom: 60px;
    }
    .bg-box1 {
        background-color: #BAE5C8;
    }
    .bg-box2 {
        background-color: #C6CED6;
    }
    .bg-box3 {
        background-color: #F8D5D5;
    }
    .bg-box4 {
        background-color: #FFE9C5;
    }
    .bg-box5 {
        background-color: #EDFAFA;
    }
</style>


<!-- page-header -->
<div class="bg-image  d-flex justify-content-center align-items-center  "
     style="background-image: url('../../image/Groupcuoi.png'); min-height: 550px; border-radius: 30px;  background-repeat: repeat-y; ">
     <svg width="526" height="86" viewBox="0 0 426 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.2613 4.78775L26.0213 27.1237H20.7413L16.5493 11.2197L12.1653 27.1237L6.91733 27.1557L0.901327 4.78775L5.70133 4.78775L9.63733 22.1317L14.1813 4.78775H19.1733L23.4613 22.0357L27.4293 4.78775L32.2613 4.78775ZM51.6666 17.8757C51.6666 18.5157 51.6239 19.0917 51.5386 19.6037L38.5786 19.6037C38.6852 20.8837 39.1332 21.8864 39.9226 22.6117C40.7119 23.3371 41.6826 23.6997 42.8346 23.6997C44.4986 23.6997 45.6826 22.9851 46.3866 21.5557H51.2186C50.7066 23.2624 49.7252 24.6704 48.2746 25.7797C46.8239 26.8677 45.0426 27.4117 42.9306 27.4117C41.2239 27.4117 39.6879 27.0384 38.3226 26.2917C36.9786 25.5237 35.9226 24.4464 35.1546 23.0597C34.4079 21.6731 34.0346 20.0731 34.0346 18.2597C34.0346 16.4251 34.4079 14.8144 35.1546 13.4277C35.9012 12.0411 36.9466 10.9744 38.2906 10.2277C39.6346 9.48108 41.1812 9.10775 42.9306 9.10775C44.6159 9.10775 46.1199 9.47041 47.4426 10.1957C48.7866 10.9211 49.8212 11.9557 50.5466 13.2997C51.2932 14.6224 51.6666 16.1477 51.6666 17.8757ZM47.0266 16.5957C47.0052 15.4437 46.5892 14.5264 45.7786 13.8437C44.9679 13.1397 43.9759 12.7877 42.8026 12.7877C41.6932 12.7877 40.7546 13.1291 39.9866 13.8117C39.2399 14.4731 38.7812 15.4011 38.6106 16.5957L47.0266 16.5957ZM59.4166 11.9877C59.9926 11.1344 60.7819 10.4411 61.7846 9.90775C62.8086 9.37441 63.9712 9.10775 65.2726 9.10775C66.7872 9.10775 68.1526 9.48108 69.3686 10.2277C70.6059 10.9744 71.5766 12.0411 72.2806 13.4277C73.0059 14.7931 73.3686 16.3824 73.3686 18.1957C73.3686 20.0091 73.0059 21.6197 72.2806 23.0277C71.5766 24.4144 70.6059 25.4917 69.3686 26.2597C68.1526 27.0277 66.7872 27.4117 65.2726 27.4117C63.9499 27.4117 62.7872 27.1557 61.7846 26.6437C60.8032 26.1104 60.0139 25.4277 59.4166 24.5957V27.1237H54.9366L54.9366 3.44375H59.4166L59.4166 11.9877ZM68.7926 18.1957C68.7926 17.1291 68.5686 16.2117 68.1206 15.4437C67.6939 14.6544 67.1179 14.0571 66.3926 13.6517C65.6886 13.2464 64.9206 13.0437 64.0886 13.0437C63.2779 13.0437 62.5099 13.2571 61.7846 13.6837C61.0806 14.0891 60.5046 14.6864 60.0566 15.4757C59.6299 16.2651 59.4166 17.1931 59.4166 18.2597C59.4166 19.3264 59.6299 20.2544 60.0566 21.0437C60.5046 21.8331 61.0806 22.4411 61.7846 22.8677C62.5099 23.2731 63.2779 23.4757 64.0886 23.4757C64.9206 23.4757 65.6886 23.2624 66.3926 22.8357C67.1179 22.4091 67.6939 21.8011 68.1206 21.0117C68.5686 20.2224 68.7926 19.2837 68.7926 18.1957ZM83.4081 27.4117C81.9574 27.4117 80.6561 27.1557 79.5041 26.6437C78.3521 26.1104 77.4347 25.3957 76.7521 24.4997C76.0907 23.6037 75.7281 22.6117 75.6641 21.5237H80.1761C80.2614 22.2064 80.5921 22.7717 81.1681 23.2197C81.7654 23.6677 82.5014 23.8917 83.3761 23.8917C84.2294 23.8917 84.8907 23.7211 85.3601 23.3797C85.8507 23.0384 86.0961 22.6011 86.0961 22.0677C86.0961 21.4917 85.7974 21.0651 85.2001 20.7877C84.6241 20.4891 83.6961 20.1691 82.4161 19.8277C81.0934 19.5077 80.0054 19.1771 79.1521 18.8357C78.3201 18.4944 77.5947 17.9717 76.9761 17.2677C76.3787 16.5637 76.0801 15.6144 76.0801 14.4197C76.0801 13.4384 76.3574 12.5424 76.9121 11.7317C77.4881 10.9211 78.2987 10.2811 79.3441 9.81175C80.4107 9.34241 81.6587 9.10775 83.0881 9.10775C85.2001 9.10775 86.8854 9.64108 88.1441 10.7077C89.4027 11.7531 90.0961 13.1717 90.2241 14.9637L85.9361 14.9637C85.8721 14.2597 85.5734 13.7051 85.0401 13.2997C84.5281 12.8731 83.8347 12.6597 82.9601 12.6597C82.1494 12.6597 81.5201 12.8091 81.0721 13.1077C80.6454 13.4064 80.4321 13.8224 80.4321 14.3557C80.4321 14.9531 80.7307 15.4117 81.3281 15.7317C81.9254 16.0304 82.8534 16.3397 84.1121 16.6597C85.3921 16.9797 86.4481 17.3104 87.2801 17.6517C88.1121 17.9931 88.8267 18.5264 89.4241 19.2517C90.0427 19.9557 90.3627 20.8944 90.3841 22.0677C90.3841 23.0917 90.0961 24.0091 89.5201 24.8197C88.9654 25.6304 88.1547 26.2704 87.0881 26.7397C86.0427 27.1877 84.8161 27.4117 83.4081 27.4117ZM96.3336 7.28375C95.5442 7.28375 94.8829 7.03842 94.3496 6.54775C93.8376 6.03575 93.5816 5.40641 93.5816 4.65975C93.5816 3.91308 93.8376 3.29441 94.3496 2.80375C94.8829 2.29175 95.5442 2.03575 96.3336 2.03575C97.1229 2.03575 97.7736 2.29175 98.2856 2.80375C98.8189 3.29441 99.0856 3.91308 99.0856 4.65975C99.0856 5.40641 98.8189 6.03575 98.2856 6.54775C97.7736 7.03842 97.1229 7.28375 96.3336 7.28375ZM98.5416 9.39575L98.5416 27.1237H94.0616L94.0616 9.39575H98.5416ZM108.184 13.0757V21.6517C108.184 22.2491 108.322 22.6864 108.6 22.9637C108.898 23.2197 109.389 23.3477 110.072 23.3477H112.152L112.152 27.1237H109.336C105.56 27.1237 103.672 25.2891 103.672 21.6197V13.0757H101.56V9.39575H103.672V5.01175H108.184V9.39575H112.152V13.0757H108.184ZM131.854 17.8757C131.854 18.5157 131.811 19.0917 131.726 19.6037L118.766 19.6037C118.873 20.8837 119.321 21.8864 120.11 22.6117C120.899 23.3371 121.87 23.6997 123.022 23.6997C124.686 23.6997 125.87 22.9851 126.574 21.5557H131.406C130.894 23.2624 129.913 24.6704 128.462 25.7797C127.011 26.8677 125.23 27.4117 123.118 27.4117C121.411 27.4117 119.875 27.0384 118.51 26.2917C117.166 25.5237 116.11 24.4464 115.342 23.0597C114.595 21.6731 114.222 20.0731 114.222 18.2597C114.222 16.4251 114.595 14.8144 115.342 13.4277C116.089 12.0411 117.134 10.9744 118.478 10.2277C119.822 9.48108 121.369 9.10775 123.118 9.10775C124.803 9.10775 126.307 9.47041 127.63 10.1957C128.974 10.9211 130.009 11.9557 130.734 13.2997C131.481 14.6224 131.854 16.1477 131.854 17.8757ZM127.214 16.5957C127.193 15.4437 126.777 14.5264 125.966 13.8437C125.155 13.1397 124.163 12.7877 122.99 12.7877C121.881 12.7877 120.942 13.1291 120.174 13.8117C119.427 14.4731 118.969 15.4011 118.798 16.5957L127.214 16.5957ZM159.389 31.0597L155.997 26.9957C155.058 27.2304 154.098 27.3477 153.117 27.3477C151.026 27.3477 149.106 26.8571 147.357 25.8757C145.608 24.8944 144.221 23.5397 143.197 21.8117C142.173 20.0624 141.661 18.0891 141.661 15.8917C141.661 13.7157 142.173 11.7637 143.197 10.0357C144.221 8.28641 145.608 6.92108 147.357 5.93975C149.106 4.95841 151.026 4.46775 153.117 4.46775C155.229 4.46775 157.149 4.95841 158.877 5.93975C160.626 6.92108 162.002 8.28641 163.005 10.0357C164.029 11.7637 164.541 13.7157 164.541 15.8917C164.541 17.8757 164.114 19.6891 163.261 21.3317C162.429 22.9531 161.288 24.2757 159.837 25.2997L164.957 31.0597H159.389ZM146.269 15.8917C146.269 17.3851 146.557 18.6971 147.133 19.8277C147.709 20.9584 148.509 21.8331 149.533 22.4517C150.578 23.0491 151.773 23.3477 153.117 23.3477C154.461 23.3477 155.645 23.0491 156.669 22.4517C157.693 21.8331 158.493 20.9584 159.069 19.8277C159.645 18.6971 159.933 17.3851 159.933 15.8917C159.933 14.3984 159.645 13.0971 159.069 11.9877C158.493 10.8571 157.693 9.99308 156.669 9.39575C155.645 8.79841 154.461 8.49975 153.117 8.49975C151.773 8.49975 150.578 8.79841 149.533 9.39575C148.509 9.99308 147.709 10.8571 147.133 11.9877C146.557 13.0971 146.269 14.3984 146.269 15.8917ZM184.673 9.39575V27.1237H180.161V24.8837C179.585 25.6517 178.827 26.2597 177.889 26.7077C176.971 27.1344 175.969 27.3477 174.881 27.3477C173.494 27.3477 172.267 27.0597 171.201 26.4837C170.134 25.8864 169.291 25.0224 168.673 23.8917C168.075 22.7397 167.777 21.3744 167.777 19.7957V9.39575L172.257 9.39575V19.1557C172.257 20.5637 172.609 21.6517 173.313 22.4197C174.017 23.1664 174.977 23.5397 176.193 23.5397C177.43 23.5397 178.401 23.1664 179.105 22.4197C179.809 21.6517 180.161 20.5637 180.161 19.1557V9.39575L184.673 9.39575ZM196.549 9.29975C198.895 9.29975 200.687 9.81175 201.925 10.8357C203.183 11.8384 203.813 13.3851 203.813 15.4757V27.1237H200.485L199.557 24.7557H199.429C198.938 25.3744 198.426 25.8864 197.893 26.2917C197.381 26.6971 196.783 26.9851 196.101 27.1557C195.439 27.3477 194.618 27.4437 193.637 27.4437C192.613 27.4437 191.685 27.2517 190.853 26.8677C190.042 26.4624 189.402 25.8544 188.933 25.0437C188.463 24.2117 188.229 23.1664 188.229 21.9077C188.229 20.0517 188.879 18.6864 190.181 17.8117C191.482 16.9157 193.434 16.4251 196.037 16.3397L199.077 16.2437V15.4757C199.077 14.5584 198.831 13.8864 198.341 13.4597C197.871 13.0331 197.21 12.8197 196.357 12.8197C195.503 12.8197 194.671 12.9477 193.861 13.2037C193.05 13.4384 192.239 13.7371 191.429 14.0997L189.861 10.8677C190.799 10.3771 191.834 9.99308 192.965 9.71575C194.117 9.43841 195.311 9.29975 196.549 9.29975ZM197.221 19.0917C195.685 19.1344 194.618 19.4117 194.021 19.9237C193.423 20.4357 193.125 21.1077 193.125 21.9397C193.125 22.6651 193.338 23.1877 193.765 23.5077C194.191 23.8064 194.746 23.9557 195.429 23.9557C196.453 23.9557 197.317 23.6571 198.021 23.0597C198.725 22.4411 199.077 21.5771 199.077 20.4677V19.0277L197.221 19.0917ZM200.421 3.89175C200.421 4.68108 200.207 5.34241 199.781 5.87575C199.354 6.38775 198.725 6.75041 197.893 6.96375L197.733 8.08375L195.013 8.08375L194.661 5.77975C195.45 5.65175 195.983 5.45975 196.261 5.20375C196.538 4.92641 196.677 4.59575 196.677 4.21175C196.677 3.87041 196.57 3.61441 196.357 3.44375C196.143 3.27308 195.855 3.18775 195.493 3.18775C195.087 3.18775 194.703 3.21975 194.341 3.28375C193.999 3.34775 193.658 3.43308 193.317 3.53975V0.915747C193.615 0.80908 194.021 0.723747 194.533 0.659748C195.045 0.595748 195.557 0.563747 196.069 0.563747C197.519 0.563747 198.607 0.851748 199.333 1.42775C200.058 2.00375 200.421 2.82508 200.421 3.89175ZM218.261 9.13975C220.373 9.13975 222.079 9.81175 223.381 11.1557C224.682 12.4784 225.333 14.3344 225.333 16.7237V27.1237H220.853V17.3317C220.853 15.9237 220.501 14.8464 219.797 14.0997C219.093 13.3317 218.133 12.9477 216.917 12.9477C215.679 12.9477 214.698 13.3317 213.973 14.0997C213.269 14.8464 212.917 15.9237 212.917 17.3317V27.1237H208.437V9.39575H212.917V11.6037C213.514 10.8357 214.271 10.2384 215.189 9.81175C216.127 9.36375 217.151 9.13975 218.261 9.13975ZM241.698 23.5717L249.058 23.5717V27.1237L237.218 27.1237V4.78775H241.698V23.5717ZM268.865 9.39575L257.889 35.5077H253.121L256.961 26.6757L249.857 9.39575H254.881L259.457 21.7797L264.097 9.39575L268.865 9.39575ZM262.881 4.78775L255.521 8.14775V4.94775L262.881 1.13975V4.78775ZM286.617 27.3477C285.06 27.3477 283.652 27.0811 282.393 26.5477C281.156 26.0144 280.175 25.2464 279.449 24.2437C278.724 23.2411 278.351 22.0571 278.329 20.6917L283.129 20.6917C283.193 21.6091 283.513 22.3344 284.089 22.8677C284.687 23.4011 285.497 23.6677 286.521 23.6677C287.567 23.6677 288.388 23.4224 288.985 22.9317C289.583 22.4197 289.881 21.7584 289.881 20.9477C289.881 20.2864 289.679 19.7424 289.273 19.3157C288.868 18.8891 288.356 18.5584 287.737 18.3237C287.14 18.0677 286.308 17.7904 285.241 17.4917C283.791 17.0651 282.607 16.6491 281.689 16.2437C280.793 15.8171 280.015 15.1877 279.353 14.3557C278.713 13.5024 278.393 12.3717 278.393 10.9637C278.393 9.64108 278.724 8.48908 279.385 7.50775C280.047 6.52641 280.975 5.77975 282.169 5.26775C283.364 4.73442 284.729 4.46775 286.265 4.46775C288.569 4.46775 290.436 5.03308 291.865 6.16375C293.316 7.27308 294.116 8.83041 294.265 10.8357H289.337C289.295 10.0677 288.964 9.43841 288.345 8.94775C287.748 8.43575 286.948 8.17975 285.945 8.17975C285.071 8.17975 284.367 8.40375 283.833 8.85175C283.321 9.29975 283.065 9.95041 283.065 10.8037C283.065 11.4011 283.257 11.9024 283.641 12.3077C284.047 12.6917 284.537 13.0117 285.113 13.2677C285.711 13.5024 286.543 13.7797 287.609 14.0997C289.06 14.5264 290.244 14.9531 291.161 15.3797C292.079 15.8064 292.868 16.4464 293.529 17.2997C294.191 18.1531 294.521 19.2731 294.521 20.6597C294.521 21.8544 294.212 22.9637 293.593 23.9877C292.975 25.0117 292.068 25.8331 290.873 26.4517C289.679 27.0491 288.26 27.3477 286.617 27.3477ZM300.677 7.28375C299.888 7.28375 299.227 7.03842 298.693 6.54775C298.181 6.03575 297.925 5.40641 297.925 4.65975C297.925 3.91308 298.181 3.29441 298.693 2.80375C299.227 2.29175 299.888 2.03575 300.677 2.03575C301.467 2.03575 302.117 2.29175 302.629 2.80375C303.163 3.29441 303.429 3.91308 303.429 4.65975C303.429 5.40641 303.163 6.03575 302.629 6.54775C302.117 7.03842 301.467 7.28375 300.677 7.28375ZM302.885 9.39575V27.1237H298.405V9.39575H302.885ZM317.136 9.13975C319.248 9.13975 320.954 9.81175 322.256 11.1557C323.557 12.4784 324.208 14.3344 324.208 16.7237V27.1237H319.728V17.3317C319.728 15.9237 319.376 14.8464 318.672 14.0997C317.968 13.3317 317.008 12.9477 315.792 12.9477C314.554 12.9477 313.573 13.3317 312.848 14.0997C312.144 14.8464 311.792 15.9237 311.792 17.3317V27.1237H307.312V9.39575H311.792V11.6037C312.389 10.8357 313.146 10.2384 314.064 9.81175C315.002 9.36375 316.026 9.13975 317.136 9.13975ZM338.452 9.13975C339.796 9.13975 340.99 9.43841 342.036 10.0357C343.081 10.6117 343.892 11.4757 344.468 12.6277C345.065 13.7584 345.364 15.1237 345.364 16.7237V27.1237H340.884V17.3317C340.884 15.9237 340.532 14.8464 339.828 14.0997C339.124 13.3317 338.164 12.9477 336.948 12.9477C335.71 12.9477 334.729 13.3317 334.004 14.0997C333.3 14.8464 332.948 15.9237 332.948 17.3317V27.1237H328.468V3.44375L332.948 3.44375V11.6037C333.524 10.8357 334.292 10.2384 335.252 9.81175C336.212 9.36375 337.278 9.13975 338.452 9.13975ZM377.313 4.78775L369.121 27.1237L363.681 27.1237L355.489 4.78775L360.289 4.78775L366.433 22.5477L372.545 4.78775H377.313ZM382.271 7.28375C381.482 7.28375 380.82 7.03842 380.287 6.54775C379.775 6.03575 379.519 5.40641 379.519 4.65975C379.519 3.91308 379.775 3.29441 380.287 2.80375C380.82 2.29175 381.482 2.03575 382.271 2.03575C383.06 2.03575 383.711 2.29175 384.223 2.80375C384.756 3.29441 385.023 3.91308 385.023 4.65975C385.023 5.40641 384.756 6.03575 384.223 6.54775C383.711 7.03842 383.06 7.28375 382.271 7.28375ZM384.479 9.39575V27.1237H379.999V9.39575H384.479ZM405.385 17.8757C405.385 18.5157 405.343 19.0917 405.257 19.6037H392.297C392.404 20.8837 392.852 21.8864 393.641 22.6117C394.431 23.3371 395.401 23.6997 396.553 23.6997C398.217 23.6997 399.401 22.9851 400.105 21.5557H404.937C404.425 23.2624 403.444 24.6704 401.993 25.7797C400.543 26.8677 398.761 27.4117 396.649 27.4117C394.943 27.4117 393.407 27.0384 392.041 26.2917C390.697 25.5237 389.641 24.4464 388.873 23.0597C388.127 21.6731 387.753 20.0731 387.753 18.2597C387.753 16.4251 388.127 14.8144 388.873 13.4277C389.62 12.0411 390.665 10.9744 392.009 10.2277C393.353 9.48108 394.9 9.10775 396.649 9.10775C398.335 9.10775 399.839 9.47041 401.161 10.1957C402.505 10.9211 403.54 11.9557 404.265 13.2997C405.012 14.6224 405.385 16.1477 405.385 17.8757ZM400.745 16.5957C400.724 15.4437 400.308 14.5264 399.497 13.8437C398.687 13.1397 397.695 12.7877 396.521 12.7877C395.412 12.7877 394.473 13.1291 393.705 13.8117C392.959 14.4731 392.5 15.4011 392.329 16.5957H400.745ZM396.585 5.39575L391.817 8.08375V4.81975L396.585 2.22775L401.321 4.81975V8.08375L396.585 5.39575ZM418.479 9.13975C420.591 9.13975 422.298 9.81175 423.599 11.1557C424.901 12.4784 425.551 14.3344 425.551 16.7237V27.1237H421.071V17.3317C421.071 15.9237 420.719 14.8464 420.015 14.0997C419.311 13.3317 418.351 12.9477 417.135 12.9477C415.898 12.9477 414.917 13.3317 414.191 14.0997C413.487 14.8464 413.135 15.9237 413.135 17.3317V27.1237H408.655V9.39575H413.135V11.6037C413.733 10.8357 414.49 10.2384 415.407 9.81175C416.346 9.36375 417.37 9.13975 418.479 9.13975Z" fill="#1A1A1A" />
    </svg>

</div>

<!-- /.page-header-->
<!-- news -->


<div class=" mt-3 mb-5">

    <div class="row mt-1">
        <div class="col-md-4 shadow-5  hover-zoom  ">
            <a href="~/SinhVien/Index" class="nav-link shadow-4">
                <div class="p-card  bg-gradient p-2 rounded px-3 bg-box1">

                    <h5 class="mt-2">Quản Lý Sinh Viên </h5><span class="d-block mb-5">Chức năng quản lý sinh viên </span>
                    <div class="d-flex justify-content-between stats">
                       
                            <div><i class="fa fa-calendar-o"></i><span class="ml-2">Xem thêm </span></div>

                 

                    </div>
                </div>
            </a>
           
        </div>
        <div class="col-md-4">
            <a href="~/Diem/Index" class="nav-link">
                <div class="p-card  bg-gradient p-2 rounded px-3 bg-box2">

                    <h5 class="mt-2">Quản Lý Điểm  </h5><span class="d-block mb-5">Chức năng quản lý điểm  </span>
                    <div class="d-flex justify-content-between stats">

                        <div><i class="fa fa-calendar-o"></i><span class="ml-2">Xem thêm </span></div>


                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="~/Lop/Index" class="nav-link">
                <div class="p-card  bg-gradient p-2 rounded px-3 bg-box3">

                    <h5 class="mt-2">Quản Lý Lớp Học  </h5><span class="d-block mb-5">Chức năng quản lý lớp học </span>
                    <div class="d-flex justify-content-between stats">

                        <div><i class="fa fa-calendar-o"></i><span class="ml-2">Xem thêm </span></div>



                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="~/MonHoc/Index" class="nav-link">
                <div class="p-card  bg-gradient p-2 rounded px-3  bg-box4">

                    <h5 class="mt-2">Quản Lý Môn Học   </h5><span class="d-block mb-5">Chức năng quản lý môn học </span>
                    <div class="d-flex justify-content-between stats">

                        <div><i class="fa fa-calendar-o"></i><span class="ml-2">Xem thêm </span></div>



                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="nav-link">
                <div class="p-card  bg-gradient p-2 rounded px-3 bg-box5">
                    <h5 class="mt-2">Quản Lý Báo Cáo  </h5><span class="d-block mb-5">Chức năng quản lý báo cáo </span>
                    <div class="d-flex justify-content-between stats">

                        <div><i class="fa fa-calendar-o"></i><span class="ml-2">Xem thêm </span></div>


                    </div>


                </div>
            </a>
        </div>

    </div>

</div>

